1.What are data structures, and why are they important?

-> Data structures are specialized formats for organizing, storing, and accessing collections of data.
They provide efficient ways to manage information based on its characteristics and intended use.

2.Explain the difference between mutable and immutable data types with examples

-> Mutable Data Types

These can be changed (modified) after they are created.
You can add, remove, or change elements without creating a new object.
Example - list, dict, set.

-> Immutable Data Types

These cannot be changed after creation.
Any modification creates a new object with a different memory address.

Example - int, float, str

3.What are the main differences between lists and tuples in Python?

A.

-> List: Mutable-can be modified (add, remove, or change elements).

-> Tuple: Immutable-cannot be changed once created.

B.

 -> Syntax

List: Defined with square brackets [ ]

Tuple: Defined with parentheses ( )

4.Describe how dictionaries store data.

-> A dictionary is an unordered collection and it stores data in the form of key value pair.

5.Why might you use a set instead of a list in Python?

-> We will use a set instead of a dictionary in following scenarios-
To find Unique Elements, For membership checking, to  perform set operations like union and intersection.

6.What is a string in Python, and how is it different from a list?

-> A string is a sequence of characters enclosed in single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """).
-> Strings are immutable, meaning their contents cannot be changed after creation.

-> Whereas , list are collection of items (can be of different data types) in brackets[].
And lists are mutable.

7.How do tuples ensure data integrity in Python?

-> Tuples ensure data integrity by being immutable—once a tuple is created, its elements cannot be changed, added, or removed. This property provides several benefits for maintaining consistent data.

8.What is a hash table, and how does it relate to dictionaries in Python?

-> A hash table is a data structure that stores data in key-value pairs and uses a hash function to determine where each key-value pair is stored in memory.

Hash Function: Converts a key into a numerical index (hash value).

Buckets: Locations in the hash table where key-value pairs are stored.

Collision Handling: If two keys produce the same hash value, Python uses techniques like open addressing or probing to find another available slot.

9.Can lists contain different data types in Python?

-> Yes. In Python, lists can contain elements of different data types because Python lists are heterogeneous.

10.Explain why strings are immutable in Python

-> Strings in Python are immutable, meaning once created, their contents cannot be changed.

-> Memory Efficiency via String Interning
-> Hashing & Dictionary Keys
-> Thread Safety
-> Performance Optimization

11.What advantages do dictionaries offer over lists for certain tasks

->Dictionaries offer several advantages some of which are-
-> Key-Value Pairing
-> Fast Lookup, Insertion, and Deletion
-> Avoiding duplicates

12. Describe a scenario where using a tuple would be preferable over a list

->A tuple is preferable over a list when you need a fixed collection of items that should not change throughout the program. Tuples provide immutability, which ensures data integrity and can offer better performance.

13.How do sets handle duplicate values in Python?

-> In Python, sets automatically remove duplicate values because they are designed to store only unique elements.

14.How does the “in” keyword work differently for lists and dictionaries?

-> The "in" keyword is used to check membership, but its behavior differs between lists and dictionaries.

->'in' with Lists

Checks if a value is present in the list.

-> 'in' with Dictionaries

Checks if a key is present in the dictionary (not the value).

15.Can you modify the elements of a tuple? Explain why or why not

-> No, you cannot modify the elements of a tuple in Python because tuples are immutable.

->Data Integrity
Once created, a tuple cannot be changed, ensuring that data remains constant throughout the program.

->Hashability
Immutability allows tuples to be hashable, meaning they can be used as dictionary keys or stored in sets.

->Memory & Performance Optimization
Since tuples do not change, Python can store them more efficiently and perform faster operations compared to mutable objects.

16.What is a nested dictionary, and give an example of its use case.

-> A nested dictionary is a dictionary where values are themselves dictionaries.
This allows storing hierarchical or structured data in multiple levels.

-> students = {
    "101": {"name": "Alice", "age": 20, "marks": {"math": 90, "science": 85}},
    "102": {"name": "Bob", "age": 22, "marks": {"math": 78, "science": 80}}
}

17.Describe the time complexity of accessing elements in a dictionary.

-> In Python, dictionaries are implemented using hash tables, which makes element access highly efficient.

Time Complexity

->Average Case: O(1)
Accessing an element by key is constant-time because the key's hash value directly maps to its storage location.

->Worst Case: O(n)
Occurs rarely, usually when many keys produce the same hash value (hash collisions), forcing Python to search sequentially.

18.In what situations are lists preferred over dictionaries?

-> ists are preferred over dictionaries in situations where order matters, duplicates are allowed, or key-value mapping is not required.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

->Python dictionaries were considered unordered because their internal implementation (hash tables) did not guarantee the order of keys.

->Key-based retrieval is unaffected: Dictionary lookups are based on key hashes, not position.

->You cannot access items by index (like dict[0]) because there is no inherent positional order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

-> 1. Retrieval Method

List:
Data is accessed by index (position).
Dictionary:
Data is accessed by key (not position).

-> 2. Time Complexity

List:
Retrieval by index → O(1)
Retrieval by value (searching) → O(n)

Dictionary:
Retrieval by key → O(1) (average, due to hash table)

#Practical Questions

In [4]:
#1.Write a code to create a string with your name and print it.

Name = input("Enter your name:")
print(type(Name))
print(Name)

Enter your name:Ashish Seth
<class 'str'>
Ashish Seth

In [7]:
#2.Write a code to find the length of the string "Hello World".

A= "Hello World"
print(len(A))

11

In [8]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
result = text[:3]
print(result)

Pyt

In [9]:
#4.Write a code to convert the string "hello" to uppercase?

text = "hello"
result = text.upper()
print(result)

HELLO

In [10]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
result = text.replace("apple", "orange")
print(result)

I like orange

In [11]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [14]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers =[1,2,3,4,5]
numbers.pop(2)
print(numbers)

[1, 2, 4, 5]

In [15]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [17]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst=[10, 20, 30, 40, 50]
lst1=lst[::-1]
print(lst1)

[50, 40, 30, 20, 10]

In [19]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = tuple(range(100, 301, 100))
print(my_tuple)

(100, 200, 300)

In [20]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [21]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [22]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [23]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [24]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [25]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [26]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1|set2
print(result)

{1, 2, 3, 4, 5}

In [30]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1&set2
print(result)

{2, 3}

In [31]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "John","age": 25,"city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [32]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [34]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}

if "city" in person:
    print("Key exists")
else:
    print("Key does not exist")

Key exists

In [36]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"name": "Alice", "age": 25, "city": "Paris"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [37]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

random_lst=[20, 1, 47, 36, 99]
random_lst.sort()
print(random_lst)

[1, 20, 36, 47, 99]

In [38]:
#28. Write a code to create a list with strings and print the element at the third index.

fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[3])

mango

In [39]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
#30. Write a code to convert a list of strings into a set.

fruits_list = ["apple", "banana", "cherry", "apple"]
fruits_set = set(fruits_list)
print(fruits_set)

{'apple', 'banana', 'cherry'}